* {
    margin: 0;
    padding: 0;
    background: #E0E0E0;
}

.wrapper1 {
    display: flex;
    margin-top: 104px;
    margin-left: 107px;
    flex-direction: row;
}

/* start: icon style */
.icon {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.05);
    border-radius: 100px;
}

/* end: icon style */

.icon-pic {
    width: 20px;
    height: 16px;
}

.card {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #4D5E80;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #ADB8CC;
    margin-top: 5px;
}

/* start: style for wrapper2 */
.wrapper2 {
    width: 255px;
    height: 255px;
    margin-top: 74px;
    margin-left: 107px;
    background: #FF6633;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* end: style for wrapper2 */

.apple {
    width: 15.98px;
    height: 19.6px;
    margin-left: 40px;
    background: #FF6633;
}

.apple-title {
    margin-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    background: #FF6633;
}

.apple-price {
    margin-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    background: #FF6633;
}

/* start: style for wrapper3 */
.wrapper3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* end: style for wrapper3 */


/* start: style for wrapper4 */
.wrapper4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 129px;
}

/* end: style for wrapper4 */

/* start: style for single card in wrapper4 */
.wrapper4-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 145px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.05);
    border-radius: 10px;
}

/* end: style for single card in wrapper4 */

/* start: icon style for single card in wrapper4 */
.icon-new {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    border: 2px solid #F5F6F7;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 100px;
    border-radius: 100px;
}

/* end: icon style for single card in wrapper4 */


.icon-pic-new {
    background: #FFFFFF;
    height: 22px;
    width: 22px;
}

.title-new {
    background-color: white;
    font-family: 'Roboto';
    padding-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #4D5E80;
}