* {
    margin: 0;
    padding: 0;
    background: #F7F8FA;
}

/*-- start: variables --*/
:root {
    --grey-70: #7D8FB3;
    --grey-50: #4D5E80;
    --grey-60: #6B7A99;
    --grey-80: #ADB8CC;
}

/*-- end: variables --*/


/*-- start: Navbar Style --*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #cdd9f1;
}

/*-- start:All Left-Navbar Style --*/
.left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-btn {
    margin-right: 35px;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);

}

.constructor {
    margin-right: 54px;
    color: var(--grey-50);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: var(--grey-70);
}

li.a.pointer {
    cursor: pointer;
}

/*-- end:All Left-Navbar Style --*/


/*-- start:All Right-Navbar Style --*/
.right-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-icon-btn {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    margin-left: 25px;
}

.user-logo {
    margin-right: 20px;
}

.username {
    margin-right: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: var(--grey-60);
}

/*-- end:All Right-Navbar Style --*/

/*-- end: Navbar Style --*/


/*-- start:container --*/
.container {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}


/*-- start:left-container --*/
.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid;
    padding-top: 30px;
    padding-right: 30px;
    border-color: #cdd9f1;
}

/*-- start:lable1 --*/
.lable1 {
    display: flex;
    justify-content: space-between;
}

.inside-lable {
    display: flex;
}

.lable-logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.05);
    border-radius: 100px;
}

.side-lable {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lable-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--grey-50);

}

.lable-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: var(--grey-80);
}

/*-- end:lable1 --*/


/*-- start:lable2 --*/
.lable2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/*-- start:left-lable2 --*/
.left-lable2 {
    display: flex;
    flex-direction: column;
}

/*-- start:black-lable --*/
.black-lable {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    gap: 20px;
    width: 590px;
    height: 540px;
    background: #1A2233;
    border-radius: 10px;
}

/*-- start:black-lable1 --*/
.black-lable1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1A2233;
}

.black-lable1-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background: #1A2233;
}

.black-lable1-2 {
    background: #1A2233;
}

.lable1-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #26334D;
    border: 2px solid #26334D;
    border-radius: 50px;

}

/*-- end:black-lable1 --*/

/*-- start:black-lable2 --*/
.black-lable2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: #1A2233;
}

.lable2-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.lable2-price {
    background: #1A2233;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    margin-left: 36px;
}

/*-- end:black-lable2 --*/


/*-- start:black-lable3 --*/
.black-lable3 {
    display: flex;
}

/*-- end:black-lable3 --*/



/*-- end:black-lable --*/


/*-- end:left-lable2 --*/



/*-- end:lable2 --*/



/*-- end:left-container --*/


/*-- start:rigth-container --*/
.aside-container {
    margin-top: 30px;
    margin-left: 30px;
}

/*-- end:rigth-container --*/


/*-- end:container --*/